<!doctype html>
{% load static %}
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>soengsouy</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
	<meta content="Themesbrand" name="author" />
	<!-- App favicon -->
	<link rel="shortcut icon" href=" {% static 'assets/images/favicon.ico' %}">
	<!-- Bootstrap Css -->
	<link href=" {% static 'assets/css/bootstrap.min.css'  %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
	<!-- Icons Css -->
	<link href=" {% static 'assets/css/icons.min.css'  %}" rel="stylesheet" type="text/css" />
	<!-- App Css-->
	<link href=" {% static 'assets/css/app.min.css'  %}" id="app-style" rel="stylesheet" type="text/css" />
	<script src="{% static 'https://code.iconify.design/1/1.0.7/iconify.min.js '%}"></script>
</head>

<body>
	<!-- <body data-layout="horizontal" data-topbar="colored"> -->
	<!-- Begin page -->
	<div id="layout-wrapper">
		<header id="page-topbar">
			<div class="navbar-header">
				<div class="d-flex">
					<!-- LOGO -->
					<div class="navbar-brand-box">
						<a href=" {% static 'index.html' %}" class="logo logo-dark">
                        <span class="logo-sm">
                            <img src="{% static 'assets/images/logo-sm.png' %} " alt="" height="22">
                        </span>
                        <span class="logo-lg">
                            <img src="{% static 'assets/images/logo-dark.png' %}" alt="" height="20">
                        </span> </a>
						<a href=" {% static 'index.html' %}" class="logo logo-light"> <span class="logo-sm">
                        <img src="{% static 'assets/images/logo-sm.png' %}" alt="" height="22">
                        </span> <span class="logo-lg">
                            <img src="{% static 'assets/images/logo-light.png' %}" alt="" height="20">
                        </span> </a>
					</div>
					<button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect vertical-menu-btn"> <i class="fa fa-fw fa-bars"></i> </button>
					<!-- App Search-->
					<form class="app-search d-none d-lg-block">
						<div class="position-relative">
							<input type="text" class="form-control" placeholder="Search..."> <span class="uil-search"></span> </div>
					</form>
				</div>
				<div class="d-flex">
					<div class="dropdown d-inline-block d-lg-none ms-2">
						<button type="button" class="btn header-item noti-icon waves-effect" id="page-header-search-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="uil-search"></i> </button>
						<div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0" aria-labelledby="page-header-search-dropdown">
							<form class="p-3">
								<div class="m-0">
									<div class="input-group">
										<input type="text" class="form-control" placeholder="Search ..." aria-label="Recipient's username">
										<div class="input-group-append">
											<button class="btn btn-primary" type="submit"><i class="mdi mdi-magnify"></i></button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="dropdown d-inline-block language-switch">
						<button type="button" class="btn header-item waves-effect" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <img src="{% static 'assets/images/flags/us.jpg' %}" alt="Header Language" height="16"> </button>
						<div class="dropdown-menu dropdown-menu-end">
							<!-- item-->
							<a href="javascript:void(0);" class="dropdown-item notify-item"> <img src="{% static 'assets/images/flags/spain.jpg' %}" alt="user-image" class="me-1" height="12"> <span class="align-middle">Spanish</span> </a>
							<!-- item-->
							<a href="javascript:void(0);" class="dropdown-item notify-item"> <img src="{% static 'assets/images/flags/germany.jpg' %}" alt="user-image" class="me-1" height="12"> <span class="align-middle">German</span> </a>
							<!-- item-->
							<a href="javascript:void(0);" class="dropdown-item notify-item"> <img src="{% static 'assets/images/flags/italy.jpg' %} " alt="user-image" class="me-1" height="12"> <span class="align-middle">Italian</span> </a>
							<!-- item-->
							<a href="javascript:void(0);" class="dropdown-item notify-item"> <img src="{% static 'assets/images/flags/russia.jpg' %} " alt="user-image" class="me-1" height="12"> <span class="align-middle">Russian</span> </a>
						</div>
					</div>
					<div class="dropdown d-none d-lg-inline-block ms-1">
						<button type="button" class="btn header-item noti-icon waves-effect" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="uil-apps"></i> </button>
						<div class="dropdown-menu dropdown-menu-lg dropdown-menu-end">
							<div class="px-lg-2">
								<div class="row g-0">
									<div class="col">
										<a class="dropdown-icon-item" href="#"> <img src="{% static 'assets/images/brands/github.png' %}" alt="Github"> <span>GitHub</span> </a>
									</div>
									<div class="col">
										<a class="dropdown-icon-item" href="#"> <img src="{% static 'assets/images/brands/bitbucket.png' %}" alt="bitbucket"> <span>Bitbucket</span> </a>
									</div>
									<div class="col">
										<a class="dropdown-icon-item" href="#"> <img src="{% static 'assets/images/brands/dribbble.png' %}" alt="dribbble"> <span>Dribbble</span> </a>
									</div>
								</div>
								<div class="row g-0">
									<div class="col">
										<a class="dropdown-icon-item" href="#"> <img src="{% static 'assets/images/brands/dropbox.png' %}" alt="dropbox"> <span>Dropbox</span> </a>
									</div>
									<div class="col">
										<a class="dropdown-icon-item" href="#"> <img src="{% static 'assets/images/brands/mail_chimp.png' %}" alt="mail_chimp"> <span>Mail Chimp</span> </a>
									</div>
									<div class="col">
										<a class="dropdown-icon-item" href="  '#"> <img src="{% static 'assets/images/brands/slack.png' %}" alt="slack"> <span>Slack</span> </a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="dropdown d-none d-lg-inline-block ms-1">
						<button type="button" class="btn header-item noti-icon waves-effect" data-bs-toggle="fullscreen"> <i class="uil-minus-path"></i> </button>
					</div>
					<div class="dropdown d-inline-block">
						<button type="button" class="btn header-item noti-icon waves-effect" id="page-header-notifications-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="uil-bell"></i> <span class="badge bg-danger rounded-pill">3</span> </button>
						<div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0" aria-labelledby="page-header-notifications-dropdown">
							<div class="p-3">
								<div class="row align-items-center">
									<div class="col">
										<h5 class="m-0 font-size-16"> Notifications </h5> </div>
									<div class="col-auto"> <a href=" {% static '#!" class="small"> Mark all as read</a> </div>
								</div>
							</div>
							<div data-simplebar style="max-height: 230px;">
								<a href=" {% static '" class="text-reset notification-item">
									<div class="d-flex align-items-start">
										<div class="flex-shrink-0 me-3">
											<div class="avatar-xs"> <span class="avatar-title bg-primary rounded-circle font-size-16">
                                                        <i class="uil-shopping-basket"></i>
                                                    </span> </div>
										</div>
										<div class="flex-grow-1">
											<h6 class="mb-1">Your order is placed</h6>
											<div class="font-size-12 text-muted">
												<p class="mb-1">If several languages coalesce the grammar</p>
												<p class="mb-0"><i class="mdi mdi-clock-outline"></i> 3 min ago</p>
											</div>
										</div>
									</div>
								</a>
								<a href=" {% static '" class="text-reset notification-item">
									<div class="d-flex align-items-start">
										<div class="flex-shrink-0 me-3"> <img src="{% static 'assets/images/users/avatar-3.jpg' %}" class="rounded-circle avatar-xs" alt="user-pic"> </div>
										<div class="flex-grow-1">
											<h6 class="mb-1">James Lemire</h6>
											<div class="font-size-12 text-muted">
												<p class="mb-1">It will seem like simplified English.</p>
												<p class="mb-0"><i class="mdi mdi-clock-outline"></i> 1 hours ago</p>
											</div>
										</div>
									</div>
								</a>
								<a href="#" class="text-reset notification-item">
									<div class="d-flex align-items-start">
										<div class="flex-shrink-0 me-3">
											<div class="avatar-xs"> <span class="avatar-title bg-success rounded-circle font-size-16">
                                                        <i class="uil-truck"></i>
                                                    </span> </div>
										</div>
										<div class="flex-grow-1">
											<h6 class="mb-1">Your item is shipped</h6>
											<div class="font-size-12 text-muted">
												<p class="mb-1">If several languages coalesce the grammar</p>
												<p class="mb-0"><i class="mdi mdi-clock-outline"></i> 3 min ago</p>
											</div>
										</div>
									</div>
								</a>
								<a href="#" class="text-reset notification-item">
									<div class="d-flex align-items-start">
										<div class="flex-shrink-0 me-3"> <img src="{% static 'assets/images/users/avatar-4.jpg' %}" class="rounded-circle avatar-xs" alt="user-pic"> </div>
										<div class="flex-grow-1">
											<h6 class="mb-1">Salena Layfield</h6>
											<div class="font-size-12 text-muted">
												<p class="mb-1">As a skeptical Cambridge friend of mine occidental.</p>
												<p class="mb-0"><i class="mdi mdi-clock-outline"></i> 1 hours ago</p>
											</div>
										</div>
									</div>
								</a>
							</div>
							<div class="p-2 border-top">
								<div class="d-grid">
									<a class="btn btn-sm btn-link font-size-14 text-center" href=" {% static 'javascript:void(0)"> <i class="uil-arrow-circle-right me-1"></i> View More.. </a>
								</div>
							</div>
						</div>
					</div>
					<div class="dropdown d-inline-block">
						<button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <img class="rounded-circle header-profile-user" src="{% static 'assets/images/users/avatar-4.jpg' %}" alt="Header Avatar"> <span class="d-none d-xl-inline-block ms-1 fw-medium font-size-15">Soeng Souy</span> <i class="uil-angle-down d-none d-xl-inline-block font-size-15"></i> </button>
						<div class="dropdown-menu dropdown-menu-end">
							<!-- item--><a class="dropdown-item" href="#"><i class="uil uil-user-circle font-size-18 align-middle text-muted me-1"></i> <span class="align-middle">View Profile</span></a> <a class="dropdown-item" href="#"><i class="uil uil-wallet font-size-18 align-middle me-1 text-muted"></i> <span class="align-middle">My Wallet</span></a> <a class="dropdown-item d-block" href="#"><i class="uil uil-cog font-size-18 align-middle me-1 text-muted"></i> <span class="align-middle">Settings</span> <span class="badge bg-soft-success rounded-pill mt-1 ms-2">03</span></a> <a class="dropdown-item" href="#"><i class="uil uil-lock-alt font-size-18 align-middle me-1 text-muted"></i> <span class="align-middle">Lock screen</span></a> <a class="dropdown-item" href="#"><i class="uil uil-sign-out-alt font-size-18 align-middle me-1 text-muted"></i> <span class="align-middle">Sign out</span></a> </div>
					</div>
					<div class="dropdown d-inline-block">
						<button type="button" class="btn header-item noti-icon right-bar-toggle waves-effect"> <i class="uil-cog"></i> </button>
					</div>
				</div>
			</div>
		</header>
		<!-- ========== Left Sidebar Start ========== -->
		<div class="vertical-menu">
			<!-- LOGO -->
			<div class="navbar-brand-box">
				<a href=" {% static 'index.html' %}" class="logo logo-dark"> <span class="logo-sm">
                            <img src="{% static 'assets/images/logo-sm.png' %}" alt="" height="22">
                        </span> <span class="logo-lg">
                            <img src="{% static 'assets/images/logo-dark.png' %}" alt="" height="20">
                        </span> </a>
				<a href=" {% static 'index.html' %}" class="logo logo-light"> <span class="logo-sm">
                            <img src="{% static 'assets/images/logo-sm.png' %}" alt="" height="22">
                        </span> <span class="logo-lg">
                            <img src="{% static 'assets/images/logo-light.png' %}" alt="" height="20">
                        </span> </a>
			</div>
			<button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect vertical-menu-btn"> <i class="fa fa-fw fa-bars"></i> </button>
			<div data-simplebar class="sidebar-menu-scroll">
				<!--- Sidemenu -->
				<div id="sidebar-menu">
					<!-- Left Menu Start -->
					<ul class="metismenu list-unstyled" id="side-menu">
						<li class="menu-title">Menu</li>
						<li>
							<a href=" {% static 'index.html' %}">  <span class="badge rounded-pill bg-primary float-end"></span> <span>Dashboard</span> </a>
						</li>
						<li>
							<a href="javascript: void(0);" class="has-arrow waves-effect"> <span>Layouts</span> </a>
							<ul class="sub-menu" aria-expanded="true">
								<li> <a href=" javascript:void(0);" class="has-arrow">Vertical</a>
									<ul class="sub-menu" aria-expanded="true">
										<li><a href=" {% static 'layouts-dark-sidebar.html' %}">Dark Sidebar</a></li>
										<li><a href=" {% static 'layouts-compact-sidebar.html' %}">Compact Sidebar</a></li>
										<li><a href=" {% static 'layouts-icon-sidebar.html' %}">Icon Sidebar</a></li>
										<li><a href=" {% static 'layouts-boxed.html' %}">Boxed Width</a></li>
										<li><a href=" {% static 'layouts-preloader.html' %}">Preloader</a></li>
										<li><a href=" {% static 'layouts-colored-sidebar.html' %}">Colored Sidebar</a></li>
									</ul>
								</li>
								<li> <a href=" javascript:void(0);" class="has-arrow">Horizontal</a>
									<ul class="sub-menu" aria-expanded="true">
										<li><a href=" {% static 'layouts-horizontal.html' %}">Horizontal</a></li>
										<li><a href=" {% static 'layouts-hori-topbar-dark.html' %}">Topbar Dark</a></li>
										<li><a href=" {% static 'layouts-hori-boxed-width.html' %}">Boxed Width</a></li>
										<li><a href=" {% static 'layouts-hori-preloader.html' %}">Preloader</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="menu-title">Apps</li>
						<li>
							<a href=" {% static 'calendar.html' %}" class="waves-effect"> <i class="uil-calender"></i> <span>Calendar</span> </a>
						</li>
						<li>
							<a href=" {% static 'chat.html' %}" class=" waves-effect"> <i class="uil-comments-alt"></i> <span class="badge rounded-pill bg-warning float-end">New</span> <span>Chat</span> </a>
						</li>
						<li>
							<a href=" javascript:void(0);" class="has-arrow waves-effect"> <i class="uil-store"></i> <span>Ecommerce</span> </a>
							<ul class="sub-menu" aria-expanded="false">
								<li><a href=" {% static 'ecommerce-products.html' %}">Products</a></li>
								<li><a href=" {% static 'ecommerce-product-detail.html' %}">Product Detail</a></li>
								<li><a href=" {% static 'ecommerce-orders.html' %}">Orders</a></li>
								<li><a href=" {% static 'ecommerce-customers.html' %}">Customers</a></li>
								<li><a href=" {% static 'ecommerce-cart.html' %}">Cart</a></li>
								<li><a href=" {% static 'ecommerce-checkout.html' %}">Checkout</a></li>
								<li><a href=" {% static 'ecommerce-shops.html' %}">Shops</a></li>
								<li><a href=" {% static 'ecommerce-add-product.html' %}">Add Product</a></li>
							</ul>
						</li>
						<li>
							<a href=" javascript:void(0);" class="has-arrow waves-effect"> <i class="uil-envelope"></i> <span>Email</span> </a>
							<ul class="sub-menu" aria-expanded="false">
								<li><a href=" {% static 'email-inbox.html' %}">Inbox</a></li>
								<li><a href=" {% static 'email-read.html' %}">Read Email</a></li>
							</ul>
						</li>
						<li>
							<a href=" javascript:void(0);" class="has-arrow waves-effect"> <i class="uil-invoice"></i> <span>Invoices</span> </a>
							<ul class="sub-menu" aria-expanded="false">
								<li><a href=" {% static 'invoices-list.html' %}">Invoice List</a></li>
								<li><a href=" {% static 'invoices-detail.html' %}">Invoice Detail</a></li>
							</ul>
						</li>
						<li>
							<a href=" javascript:void(0);" class="has-arrow waves-effect"> <i class="uil-book-alt"></i> <span>Contacts</span> </a>
							<ul class="sub-menu" aria-expanded="false">
								<li><a href=" {% static 'contacts-grid.html' %}">User Grid</a></li>
								<li><a href=" {% static 'contacts-list.html' %}">User List</a></li>
								<li><a href=" {% static 'contacts-profile.html' %}">Profile</a></li>
							</ul>
						</li>
						<li class="menu-title">Pages</li>
						<li>
							<a href=" javascript:void(0);" class="has-arrow waves-effect"> <i class="uil-user-circle"></i> <span>Authentication</span> </a>
							<ul class="sub-menu" aria-expanded="false">
								<li><a href=" {% static 'auth-login.html' %}">Login</a></li>
								<li><a href=" {% static 'auth-register.html' %}">Register</a></li>
								<li><a href=" {% static 'auth-recoverpw.html' %}">Recover Password</a></li>
								<li><a href=" {% static 'auth-lock-screen.html' %}">Lock Screen</a></li>
							</ul>
						</li>
						<li>
							<a href=" javascript:void(0);" class="has-arrow waves-effect"> <i class="uil-file-alt"></i> <span>Utility</span> </a>
							<ul class="sub-menu" aria-expanded="false">
								<li><a href=" {% static 'pages-starter.html' %}">Starter Page</a></li>
								<li><a href=" {% static 'pages-maintenance.html' %}">Maintenance</a></li>
								<li><a href=" {% static 'pages-comingsoon.html' %}">Coming Soon</a></li>
								<li><a href=" {% static 'pages-timeline.html' %}">Timeline</a></li>
								<li><a href=" {% static 'pages-faqs.html' %}">FAQs</a></li>
								<li><a href=" {% static 'pages-pricing.html' %}">Pricing</a></li>
								<li><a href=" {% static 'pages-404.html' %}">Error 404</a></li>
								<li><a href=" {% static 'pages-500.html' %}">Error 500</a></li>
							</ul>
						</li>
						<li class="menu-title">Components</li>
						<li>
							<a href=" javascript:void(0);" class="has-arrow waves-effect"> <i class="uil-flask"></i> <span>UI Elements</span> </a>
							<ul class="sub-menu" aria-expanded="false">
								<li><a href=" {% static 'ui-alerts.html' %}">Alerts</a></li>
								<li><a href=" {% static 'ui-buttons.html' %}">Buttons</a></li>
								<li><a href=" {% static 'ui-cards.html' %}">Cards</a></li>
								<li><a href=" {% static 'ui-carousel.html' %}">Carousel</a></li>
								<li><a href=" {% static 'ui-dropdowns.html' %}">Dropdowns</a></li>
								<li><a href=" {% static 'ui-grid.html' %}">Grid</a></li>
								<li><a href=" {% static 'ui-images.html' %}">Images</a></li>
								<li><a href=" {% static 'ui-lightbox.html' %}">Lightbox</a></li>
								<li><a href=" {% static 'ui-modals.html' %}">Modals</a></li>
								<li><a href=" {% static 'ui-offcanvas.html' %}">Offcanvas</a></li>
								<li><a href=" {% static 'ui-rangeslider.html' %}">Range Slider</a></li>
								<li><a href=" {% static 'ui-session-timeout.html' %}">Session Timeout</a></li>
								<li><a href=" {% static 'ui-progressbars.html' %}">Progress Bars</a></li>
								<li><a href=" {% static 'ui-sweet-alert.html' %}">Sweet-Alert</a></li>
								<li><a href=" {% static 'ui-tabs-accordions.html' %}">Tabs & Accordions</a></li>
								<li><a href=" {% static 'ui-typography.html' %}">Typography</a></li>
								<li><a href=" {% static 'ui-video.html' %}">Video</a></li>
								<li><a href=" {% static 'ui-general.html' %}">General</a></li>
								<li><a href=" {% static 'ui-colors.html' %}">Colors</a></li>
								<li><a href=" {% static 'ui-rating.html' %}">Rating</a></li>
								<li><a href=" {% static 'ui-notifications.html' %}">Notifications</a></li>
							</ul>
						</li>
						<li>
							<a href=" javascript:void(0);" class="waves-effect"> <i class="uil-shutter-alt"></i> <span class="badge rounded-pill bg-info float-end">9</span> <span>Forms</span> </a>
							<ul class="sub-menu" aria-expanded="false">
								<li><a href=" {% static 'form-elements.html' %}">Basic Elements</a></li>
								<li><a href=" {% static 'form-validation.html' %}">Validation</a></li>
								<li><a href=" {% static 'form-advanced.html' %}">Advanced Plugins</a></li>
								<li><a href=" {% static 'form-editors.html' %}">Editors</a></li>
								<li><a href=" {% static 'form-uploads.html' %}">File Upload</a></li>
								<li><a href=" {% static 'form-xeditable.html' %}">Xeditable</a></li>
								<li><a href=" {% static 'form-repeater.html' %}">Repeater</a></li>
								<li><a href=" {% static 'form-wizard.html' %}">Wizard</a></li>
								<li><a href=" {% static 'form-mask.html' %}">Mask</a></li>
							</ul>
						</li>
						<li>
							<a href=" javascript:void(0);" class="has-arrow waves-effect"> <i class="uil-list-ul"></i> <span>Tables</span> </a>
							<ul class="sub-menu" aria-expanded="false">
								<li><a href=" {% static 'tables-basic.html' %}">Bootstrap Basic</a></li>
								<li><a href=" {% static 'tables-datatable.html' %}">Datatables</a></li>
								<li><a href=" {% static 'tables-responsive.html' %}">Responsive</a></li>
								<li><a href=" {% static 'tables-editable.html' %}">Editable</a></li>
							</ul>
						</li>
						<li>
							<a href=" javascript:void(0);" class="has-arrow waves-effect"> <i class="uil-chart"></i> <span>Charts</span> </a>
							<ul class="sub-menu" aria-expanded="false">
								<li><a href=" {% static 'charts-apex.html' %}">Apex</a></li>
								<li><a href=" {% static 'charts-chartjs.html' %}">Chartjs</a></li>
								<li><a href=" {% static 'charts-flot.html' %}">Flot</a></li>
								<li><a href=" {% static 'charts-knob.html' %}">Jquery Knob</a></li>
								<li><a href=" {% static 'charts-sparkline.html' %}">Sparkline</a></li>
							</ul>
						</li>
						<li>
							<a href=" javascript:void(0);" class="has-arrow waves-effect"> <i class="uil-streering"></i> <span>Icons</span> </a>
							<ul class="sub-menu" aria-expanded="false">
								<li><a href=" {% static 'icons-unicons.html' %}">Unicons</a></li>
								<li><a href=" {% static 'icons-boxicons.html' %}">Boxicons</a></li>
								<li><a href=" {% static 'icons-materialdesign.html' %}">Material Design</a></li>
								<li><a href=" {% static 'icons-dripicons.html' %}">Dripicons</a></li>
								<li><a href=" {% static 'icons-fontawesome.html' %}">Font Awesome</a></li>
							</ul>
						</li>
						<li>
							<a href=" javascript:void(0);" class="has-arrow waves-effect"> <i class="uil-location-point"></i> <span>Maps</span> </a>
							<ul class="sub-menu" aria-expanded="false">
								<li><a href=" {% static 'maps-google.html' %}">Google</a></li>
								<li><a href=" {% static 'maps-vector.html' %}">Vector</a></li>
								<li><a href=" {% static 'maps-leaflet.html' %}">Leaflet</a></li>
							</ul>
						</li>
						<li>
							<a href=" javascript:void(0);" class="has-arrow waves-effect"> <i class="uil-share-alt"></i> <span>Multi Level</span> </a>
							<ul class="sub-menu" aria-expanded="true">
								<li><a href=" javascript:void(0);">Level 1.1</a></li>
								<li><a href=" javascript:void(0);" class="has-arrow">Level 1.2</a>
									<ul class="sub-menu" aria-expanded="true">
										<li><a href=" javascript:void(0);">Level 2.1</a></li>
										<li><a href=" javascript:void(0);">Level 2.2</a></li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<!-- Sidebar -->
			</div>
		</div>
		<!-- Left Sidebar End -->
		<!-- ============================================================== -->
		<!-- Start right Content here -->
		<!-- ============================================================== -->

	</div>
	<!-- END layout-wrapper -->
	<!-- Right Sidebar -->

	<!-- /Right-bar -->
	<!-- Right bar overlay-->
	<div class="rightbar-overlay"></div>
	<!-- JAVASCRIPT -->
	<script src="{% static 'https://code.iconify.design/1/1.0.7/iconify.min.js'%}"></script>
	<script src="{% static 'assets/libs/jquery/jquery.min.js'%}"></script>
	<script src="{% static 'assets/libs/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
	<script src="{% static 'assets/libs/metismenu/metisMenu.min.js'%}"></script>
	<script src="{% static 'assets/libs/simplebar/simplebar.min.js'%}"></script>
	<script src="{% static 'assets/libs/node-waves/waves.min.js'%}"></script>
	<script src="{% static 'assets/libs/waypoints/lib/jquery.waypoints.min.js'%}"></script>
	<script src="{% static 'assets/libs/jquery.counterup/jquery.counterup.min.js'%}"></script>
	<!-- apexcharts -->
	<script src="{% static 'assets/libs/apexcharts/apexcharts.min.js'%}"></script>
	<script src="{% static 'assets/js/pages/dashboard.init.js'%}"></script>
	<!-- App js -->
	<script src="{% static 'assets/js/app.js'%}"></script>
</body>

</html>