{% extends 'index.html' %}
{% block content %}
<div class="page-content" xmlns="http://www.w3.org/1999/html">
    <div class="container-fluid">
<div class="row" >
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">ADD NEW INVOICE </h4>
                <p &nbsp;></p>
                 <form action="" method="post">
                    {%csrf_token %}
                <div class="mb-3 row">

                    <label for="example-text-input" class="col-md-2 col-form-label">PARTY NAME</label>
                 <div class="col-md-10">
                    <select class="form-control dropdown-item" style="border: 1px solid #d2d2e4;padding: 8px;"  name = "party">
                        <option value="select" selected>--Select--</option>
                        {% for obj in all_party %}
                             <option value="{{obj.party_id}}">{{obj.party_name }}</option>
                        {% endfor %}
                    </select>
                 </div>


                </div>

                <div class="mb-3 row">
                    <label for="example-url-input" class="col-md-2 col-form-label">CREDIT</label>
                    <div class="col-md-10">
                        <input class="form-control" type="number" value="" id="example-number-input" name="credit">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="example-url-input" class="col-md-2 col-form-label">DEBIT</label>
                    <div class="col-md-10">
                        <input class="form-control" type="number" value="" id="example-number-input" name="debit">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="example-url-input" class="col-md-2 col-form-label">DATE</label>
                    <div class="col-md-10">
                        <input class="form-control" type="datetime-local" value="2019-08-19T13:45:00" id="example-datetime-local-input" name="date_In">
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="example-url-input" class="col-md-2 col-form-label">INVOICE NO</label>
                    <div class="col-md-10">
                        <input class="form-control" type="number" value="" id="example-number-input" name="invoice_number">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="example-url-input" class="col-md-2 col-form-label">TOTAL</label>
                    <div class="col-md-10">
                        <input class="form-control" type="number" value="" id="example-number-input" name="total">
                    </div>
                </div>
                <button type="submit" class="btn btn-success" style="margin-bottom: 20px;"><a href="{% url 'invoice_add' %}" style="color: white;">&nbsp;&nbsp;SUBMIT</a></button>
                <button type="button" class="btn btn-success" style="margin-bottom: 20px;"><a style="color: white;"><i class="bx bx-undo"></i>&nbsp;&nbsp;BACK</a></button>
            </div>
            </form>
        </div>
    </div> <!-- end col -->
</div>
</div>
</div>
{%endblock content %}