{% extends 'index.html' %}
{% block content %}
<div class="page-content">
    <div class="container-fluid">
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">ADD NEW PURCHASE </h4>
                <p &nbsp;></p>
                <form action="" method="post">
                    {%csrf_token %}
                <div class="mb-3 row">
                    <label  class="col-md-2 col-form-label">PARTY NAME</label>
                 <div class="col-md-10">
                    <select class="form-control dropdown-item" style="border: 1px solid #d2d2e4;padding: 8px;" name="party">
                        <option value="select" selected>--Select--</option>
                        {% for i in all_party %}
                        <option value ="{{i.pro_id}}">{{i.pro_name}}</option>
                        {% endfor %}
                    </select>
                 </div>
                </div>
                <div class="mb-3 row">
                    <label  class="col-md-2 col-form-label">BILL NO</label>
                    <div class="col-md-10">
                        <input class="form-control" type="number"  id="example-number-input" name="Bill_no">
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="example-url-input" class="col-md-2 col-form-label">CREDIT</label>
                    <div class="col-md-10">
                        <input class="form-control" type="number"  id="example-number-input" name="credit">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="example-url-input" class="col-md-2 col-form-label">DEBIT</label>
                    <div class="col-md-10">
                        <input class="form-control" type="number"  id="example-number-input" name="Debit">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="example-url-input" class="col-md-2 col-form-label">DATE</label>
                    <div class="col-md-10">
                        <input class="form-control" type="datetime-local"  id="example-datetime-local-input" name="date_pur">
                    </div>
                </div>
                
                <button type="submit" class="btn btn-success"  style="margin-bottom: 20px;"><i class="bx bx-check-circle"></i>&nbsp;&nbsp;SUBMIT</button>
                <button type="button" class="btn btn-success" style="margin-bottom: 20px;"><i class="bx bx-undo"></i>&nbsp;&nbsp;BACK</a></button>
               </form>
               
            </div>
        </div>
    </div> <!-- end col -->
</div>
</div>
</div>
<script>

</script>
{%endblock content %}