    {% extends 'index.html' %}
{% block content %}
<div class="page-content">
    <div class="container-fluid">
<div class="row" ">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                    <div class="alert alert-primary alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                        </button>
                    </div>
                        {% endfor %}
                {% endif %}
                <h4 class="card-title">ADD NEW SALE</h4>
                <p &nbsp;></p>
                <form action="" method="post">
                    {% csrf_token %}
                <div class="mb-3 row">
                    <label for="example-text-input" class="col-md-2 col-form-label">PRODUCT NAME</label>
                 <div class="col-md-10">
                    <select class="form-control dropdown-item" style="border: 1px solid #d2d2e4;padding: 8px;" name="pro">
                        <option value="select" selected>--Select--</option>
                            {% for obj in all_product %}
                                  <option value="{{ obj.pro_id }} ">{{ obj.pro_name }}</option>
                        {% endfor %}
                    </select>
                 </div>
            
                   
                </div>
                <div class="mb-3 row">
                    <label for="example-url-input" class="col-md-2 col-form-label">SALES QTY</label>
                    <div class="col-md-10">
                        <input class="form-control" type="number" name="salse_quantity" id="example-number-input">
                    </div>
                </div>
                <button type="submit" class="btn btn-success" style="margin-bottom: 20px;">&nbsp;&nbsp;SUBMIT</></button>
                <button type="button" class="btn btn-success" style="margin-bottom: 20px;"><a href="{% url 'purchase-add' %}" style="color: white;"><i class="bx bx-undo"></i>&nbsp;&nbsp;BACK</a></button>
                </form>
            </div>
        </div>
    </div> <!-- end col -->
</div>
</div>
</div>
{%endblock content %}